body {
  box-sizing: border-box;
  display: block;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #000;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 64px;
  font-family: Playfair Display;
  font-weight: normal;
}
h2 {
  font-style: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  margin-top: 20px;
  font-weight: 100;
  font-size: 20px;
}
.header_content {
  display: flex;
  justify-content: space-between;
}
.header_content_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_logo_img {
  width: 60px;
  margin-right: 20px;
}
.header .header_contact {
  text-align: center;
}
.header .header_worktime {
  font-size: 16px;
}
.main_screen {
  color: #fff;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 100%), url(/img/background.jpg) 785px -81px/1000px no-repeat;
}
.main_screen span {
  color: #4287d6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container__title {
  padding-top: 60px;
  padding-bottom: 130px;
}
.container__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.container__social_btn {
  width: 250px;
  text-align: center;
}
.social__offer-btn {
  margin-top: 20px;
  padding: 10px 30px;
  border: #4287d6 solid 1px;
  border-radius: 5px;
  background-color: #4287d6;
  transition: all 0.2s;
}
.social__offer-btn:hover {
  background-color: #0f178a;
  border: #0f178a solid 1px;
  padding: 8px 35px;
}
.social_btn {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.svg_vk {
  transition: all 0.3s ease-in;
}
.svg_vk:hover g {
  fill: #0f178a;
}
.svg_tg:hover g {
  fill: #0f178a;
}
