body {
  box-sizing: border-box;
  display: block;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #000;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 64px;
  font-family: Playfair Display;
  font-weight: normal;
  color: inherit;
}
h3 {
  font-style: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  margin-top: 20px;
  font-weight: 100;
  font-size: 20px;
}
.header_content {
  display: flex;
  justify-content: space-between;
}
.header_content_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_logo_img {
  width: 60px;
  margin-right: 20px;
}
.header .header_contact {
  text-align: center;
}
.header .header_worktime {
  font-size: 16px;
}
.main_screen {
  color: #fff;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 100%), url(/img/background.jpg) 785px -81px/1000px no-repeat;
}
.main_screen span {
  color: #4287d6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container__title {
  padding-top: 60px;
  padding-bottom: 130px;
}
.container__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 80px;
}
.container__social_btn {
  width: 250px;
  text-align: center;
}
.social__offer-btn {
  margin-top: 20px;
  padding: 10px 30px;
  border: #4287d6 solid 1px;
  border-radius: 5px;
  background-color: #4287d6;
  transition: all 0.2s;
}
.social__offer-btn:hover {
  background-color: #0f178a;
  border: #0f178a solid 1px;
  padding: 8px 35px;
}
.social_btn {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.svg_vk g,
svg g {
  transition: all 0.3s;
}
.svg_vk:hover g,
.svg_tg:hover g {
  fill: #0f178a;
}
.ligth {
  background-color: #f2f2ea;
  color: #000;
  padding-bottom: 80px;
}
.dark {
  background-color: #000;
  color: #fff;
}
.second__title {
  padding-top: 60px;
  font-weight: 500;
  font-family: "Playfair Display";
  font-size: 46px;
  text-align: center;
}
li {
  font-size: 24px;
  padding-top: 80px;
}
.properties {
  counter-reset: my-counter;
  list-style: none;
  list-style-position: outside;
  width: 820px;
  margin: 0 auto;
}
.properties_item {
  counter-increment: my-counter;
}
.properties_item:before {
  content: ' ' counter(my-counter);
  margin-right: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 15px 24px;
  background-color: #4287d6;
  color: #fff;
}
body > section.second > div > div > ul > li:nth-child(1):before {
  padding: 15px 26px;
}
